In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder.appName("Employees Salary Comparison").getOrCreate()

data = [
    (1, "Joe", 70, 3),
    (2, "Henry", 80, 4),
    (3, "Sam", 60, None),
    (4, "Max", 90, None)
]

columns = ["id", "name", "salary", "managerId"]

df = spark.createDataFrame(data, columns)

print("Исходные данные:")
df.show()

result_df = df.alias("employee").join(
    df.alias("manager"),
    F.col("employee.managerId") == F.col("manager.id"),
    "left"
).select(
    F.col("employee.name").alias("EmployeeName"),
    F.col("employee.salary").alias("EmployeeSalary"),
    F.col("manager.name").alias("ManagerName"),
    F.col("manager.salary").alias("ManagerSalary")
).filter(F.col("employee.salary") > F.col("manager.salary"))

print("Сотрудники, зарабатывающие больше своих менеджеров:")
result_df.show()

spark.stop()

Исходные данные:
+---+-----+------+---------+
| id| name|salary|managerId|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     NULL|
|  4|  Max|    90|     NULL|
+---+-----+------+---------+

Сотрудники, зарабатывающие больше своих менеджеров:
+------------+--------------+-----------+-------------+
|EmployeeName|EmployeeSalary|ManagerName|ManagerSalary|
+------------+--------------+-----------+-------------+
|         Joe|            70|        Sam|           60|
+------------+--------------+-----------+-------------+

In [ ]:
sc.stop()